body {
    font-family: 'Poppins', sans-serif;
}

#Welcome {
    .left {
        width: 50%;
        h1 {
            color: black;
            font-size: 50px;
            span {
                color: #FFA500;
            }
        }
        h3 {
            font-size: 30px;
        }
        p {}
        a {}
    }
    .right {
        img {}
    }
}